# Segmenting and Clustering Neighborhoods in Toronto

## Introduction
In this case, I present an exploration, segmentation, and clusterization of the neighborhoods in the city of Toronto.
For the Toronto neighborhood data, I will use the respective Wikipedia page which has all the information I need to explore and cluster the neighborhoods in Toronto. 

First, I will perform web-scraping to acquire the data. Later, data wrangling, data cleaning and data reading will be performed to create a structured dataframe to do some analaysis of the data.

Finally, I will explore the dataset and cluster the neighborhoods in the city of Toronto.

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Libraries imported.

In [5]:
# Libraries needed for basic web-scraping
from IPython.core.display import HTML
from bs4 import BeautifulSoup
from IPython.display import IFrame
import urllib # package required to interact with live webpage

### 1. Web scraping

In [6]:
# Select the first 'a' tag in the soup (by default the first appearance of a tag is selected)
tag = soup.a

# Print the tag
print(tag)

NameError: name 'soup' is not defined

In [ ]:
neighborhoods_data

In [3]:
# define the dataframe columns
column_names = ['PostalCode', 'Borough', 'Neighborhood'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

Take a look at the empty dataframe to confirm that the columns are as intended.

In [4]:
neighborhoods

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

Then let's loop through the data and fill the dataframe one row at a time.

In [11]:
for data in neighborhoods_data:
    postal_code = data['properties']['postal_code']
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']

    
    neighborhoods = neighborhoods.append({'PostalCode' : postal_code,
                                          'Borough': borough,
                                          'Neighborhood': neighborhood_name}, ignore_index=True)

Quickly examine the resulting dataframe.

In [14]:
neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

And make sure that the dataset has all 5 boroughs and 306 neighborhoods.

In [15]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(neighborhoods['Borough'].unique()),
        neighborhoods.shape[0]
    )
)

The dataframe has 5 boroughs and 306 neighborhoods.